<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form id="forgotPasswordForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Email"><br>
            
            <button type="button" onclick="sendOtp()">Send OTP</button>
            <div id="otpSection" style="display: none;">
                <label for="otp">OTP:</label>
                <input type="text" id="otp" name="otp" required placeholder="Enter OTP"><br>
                <button type="button" onclick="verifyOtp()">Verify</button>
                <div id="otpMessage"></div>
            </div>
            <div id="newPasswordSection" style="display: none;">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required placeholder="New Password"><br>
                
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password"><br>
                
                <button type="button" onclick="resetPassword()">Submit</button>
            </div>
        </form>
        <div id="message"></div>
    </div>
    <script src="../public/js/scripts.js"></script>
</body>
</html>
